<h1>Productos</h1>

<h2>Lista de Productos</h2>
<div id="productContainer" class="cards-container">

    {{!-- <div class="card-item" data-code="code">
        <div class="card-img">
            <img src="https://images.pexels.com/photos/10957671/pexels-photo-10957671.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load"
                alt="Imagen">
        </div>
        <div class="card-details">
            <h5>Title</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et alias non quae tempora provident dolorum,
                mollitia inventore veniam sint enim rerum officia natus, in quisquam maiores debitis deleniti ad
                delectus.</p>
            <span>Price: $20</span> <br>
            <button>Agregar al carrito</button>
        </div>

    </div>
    <div class="card-item" data-code="code2">
        <div class="card-img">
            <img src="https://images.pexels.com/photos/10957671/pexels-photo-10957671.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load"
                alt="Imagen">
        </div>
        <div class="card-details">
            <h5>Title</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et alias non quae tempora provident dolorum,
                mollitia inventore veniam sint enim rerum officia natus, in quisquam maiores debitis deleniti ad
                delectus.</p>
            <span>Price: $20</span> <br>
            <button>Agregar al carrito</button>
        </div>

    </div> --}}
</div>

<div class="controller-pagination">
    <button id="prevPage-button"><img src="/assets/arrow-left.svg" alt="arrow left button"></button>
    <input id="inputPage" type="number" value="1">
    <button id="nextPage-button"><img src="/assets/arrow-right.svg" alt="arrow right button"></button>
</div>

{{!--
<script src="/socket.io/socket.io.js"></script> --}}
<script src="/js/products.js"></script>