* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  font-family: 'Poppins', sans-serif;
}


nav {
  height: 3rem;
  width: 100%;
}

nav div {
  height: 3rem;
  width: 100%;
  background-color: #212121;
  position: fixed;
  z-index: 1000000;
}

nav ul {
  line-height: 3rem;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

nav li a {
  color: #fff;
}

/* section 1 */
.section-1 {
  background-color: #02386e;
}

.section-1 h1 {
  text-align: center;
  color: #F5F5F5;
  border-bottom: 2px solid rgb(4, 46, 88)
}

.info-container {
  height: 140px;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  color: #F5F5F5;
}

.user-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.logout-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-container button {
  width: 90px;
  height: 35px;
  background-color: #02386e;
  color: #F5F5F5;
  border: 1px solid #F5F5F5;
  font-size: 0.9rem;
  font-family: 'poppins';
  cursor: pointer;
}

.logout-container button:active {
  scale: .9;
}

/* section 1 */

/* cart */

#cartContainer {
  display: flex;
  flex-direction: column;
}

#cartContainer h3 {
  text-align: center;
  font-size: 2rem;
  line-height: 5rem;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.not-products {
  text-align: center;
}

.cart-item {
  background-color: #02386e;
  color: #f5f5f5FF;
  width: 90%;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  border-radius: 0.5rem;

}

.cart-item .cart-item-image {
  height: 100%;
  width: 10%;
}

.cart-item .cart-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.cart-item .cart-item-details {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4rem;
  font-size: 1.2rem;
}

.cart-item .cart-item-details > p {
  text-align: center;
  min-width: 130px;
}

.cart-item .cart-item-details .remove-product-button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: #F5F5F5;
  cursor: pointer;
}

.cart-item .cart-item-details .remove-product-button img {
  height: 100%;
  width: 100%;
  scale: 0.7;
  
}

.button-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

#clear-cart-button {
  width: 10rem;
  height: 35px;
  background-color: #FDB813;
  color: #000;
  font-size: 0.9rem;
  font-family: 'poppins';
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
}
#buy-cart-button {
    width: 10rem;
  height: 35px;
  background-color: #FDB813;
  color: #000;
  font-size: 0.9rem;
  font-family: 'poppins';
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
}

/* Tickets */

.ticket-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.ticket-container h3 {
  text-align: center;
  font-size: 2rem;
  line-height: 5rem;
}

.ticket-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.ticket-item {
  background-color: #02386e;
  color: #f5f5f5FF;
  min-width: 20rem;
  height: 22rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem;
  flex-direction: column;
  border-radius: 0.5rem;
}

.ticket-item h4 {
  font-size: 1.4rem;
  text-align: center;
}

.ticket-item p {
  font-size: 1.2rem;
}