<nav class="nav">
  <div>
    <ul>
      <li><a href="/">Products</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/signup">Signup</a></li>
      <li><a href="/chat">Chat</a></li>
      <li><a href="/forgot">Forgot</a></li>
    </ul>
  </div>
</nav>

<main>

  <div id="product-container">
  </div>

</main>








<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/oneproduct.js"></script>