<div>
  <h1>Profile</h1>
  <div>
    <h3>Mis Datos</h3>
    <ul>
      <li>Nombre:{{user.first_name}} </li>
      <li>Apellido:{{user.last_name}} </li>
      <li>Edad:{{user.age}} </li>
    </ul>
  </div>
  <div class="logout-container">
    <button id="logout">Logout</button>
  </div>
</div>


<script src="/js/profile.js"></script>