<div class="login-container">
  <span>Ingrese su correo electronico y su nuevo password para reiniciarlo</span>

  <input type="text" name="username" placeholder="Username" id="username">
  <input type="password" name="password" placeholder="Password" id="password">
  <input type="password" name="repeatPassword" placeholder="Confirm Password" id="repeatPassword">
  <button id="forgotPassword">Enviar</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/forgot.js"></script>