@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: 600;
}

/* ICON */
.profile-icon-container {
  display: flex;
  justify-content: end;
  margin: 0 5rem;
}

.profile-icon-container img {
  cursor: pointer;
  scale: 1.5;
  background-color: #fff;
  border-radius: 50%;
  padding: .3rem;
}

.profile-icon-container img:active {
  scale: 1.3;
}


/* PRODUCTS */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
}

.card-item {
  text-align: center;
  min-height: 397px;
  height: 100%;
  width: 306px;
  background-color: aqua;
  border-radius: .3rem;
  overflow: hidden;
}

.card-img {
  height: 250px;
  width: 306px;
}

.card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-details {
  text-align: center;
}

.card-details p {
  font-size: .8rem;
}

.card-details button {
  background-color: #222;
  color: #fff;
  border: solid 1px #444;
  padding: .3rem;
  border-radius: 4px;
  cursor: pointer;
}

.card-details button:active {
  background-color: #444;
  border: solid 1px #222;
  scale: .95;
}

/* PAGINATION */

.controller-pagination {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem
}

.controller-pagination button {
  border: none;
  border-radius: .3rem;
  padding: .1rem;
  background-color: aquamarine;
  cursor: pointer;
}

.controller-pagination button:active {
  scale: .9;
}

.controller-pagination img {
  scale: .7;
}

.controller-pagination input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

.controller-pagination input {
  text-align: center;
  border: none;
  outline: none;
  height: 1.5rem;
  width: 2rem;
  border-radius: .1rem;
}