<div class="login-container">
  <input type="text" name="username" placeholder="Username" id="username">
  <input type="password" name="password" placeholder="Password" id="password">
  <button type="submit" id="login">Login</button>
</div>
<script src="/js/login.js"></script>