<h1>Productos</h1>

<div class="profile-icon-container">
    {{!-- <div class="profile-icon"></div> --}}
    <img id="icon-profile" src="/assets/profile-icon.svg" alt="profile icon">
</div>

<h2>Lista de Productos</h2>
<div id="productContainer" class="cards-container">

</div>

<div class="controller-pagination">
    <button id="prevPage-button"><img src="/assets/arrow-left.svg" alt="arrow left button"></button>
    <input id="inputPage" type="number" value="1">
    <button id="nextPage-button"><img src="/assets/arrow-right.svg" alt="arrow right button"></button>
</div>

{{!--
<script src="/socket.io/socket.io.js"></script> --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>