<div class="login-container">
  <input type="text" name="username" placeholder="Username" id="username">
  <input type="password" name="password" placeholder="Password" id="password">
  <button type="submit" id="login">Login</button>
  <button><a href="/login/github">Entrar con Github</a></button>
  <span class="not-account">Don't have an account? <a href="/signup" class="signup-link">sign up</a></span>
</div>
<script src="/js/login.js"></script>